/*=============== Google Fonts ===============*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

/*=============== Css Variables ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --title-color: #22b455;
  --text-color: #22b455;
  --text-color-alt: #204829;
  --bg-color: #020204;
  --bg-color-alt: #020204;
  --border-color: #204829;

  /*========== Font and typography ==========*/
  --pixel-font: 'Pixelify Sans', cursive;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  /*========== Font Weight ==========*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--mono-font);
  font-weight: var(--bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
}

/*=============== Reusable Css ===============*/
.container{
  background-color: #020204;
  max-width: 1140px;
  margin: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.grid{
  display: grid;
}
.section{
  padding-left: 3.75rem;
  padding-bottom: 3.75rem;
}

.section__title {
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-bottom: 1.12em;
  font-family: var(--pixel-font);
}

.text-lg {
  font-size: var(--fs-lg);
  line-height: 1.67em;
  font-family: var(--pixel-font);
}

.text-sm {
  font-size: var(--fs-sm);
  line-height: 1.43em;
  font-family: var(--pixel-font);
}

.text-xs {
  font-size: var(--fs-xs);
  font-family: var(--pixel-font);
  color: #22b455;
}

/*=============== Header ===============*/
.header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index: 100;
}
.nav{
  height: calc(var(--header-height) + 0.875rem);
  display: flex;
  align-items: flex-end;
}

.nav__list{
  display: flex;
  column-gap: 3.25rem;
}

.nav__link{
  color: #22b455;
  font-size: 0.9rem;
  font-weight: var(--bold);
  font-family: var(--pixel-font);
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: #204829;
  opacity: 0;
  transition: 0.3s;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__close,
.nav__toggle {
  display: none;
}

/* Active Link */
.active-link{
  opacity: 0.5;
}

.active-link::after{
  opacity: 1;
}
/* Scroll Header */

/*=============== Home ===============*/
.home{
  background: url(../img/home-bg-3.jpg);
  background-size: cover;
  background-position: 70%;
  padding-top: 5.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.home::before{
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gradient);
}
.home__container{
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.home__img,
.home__data{
  z-index: 10;
}
.home__img{
  width: 90%;
  height: 380px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(96, 96, 96 / 34%);
}
.home__name,
.home__work,
.home__list,
.home__social-link {
color: #22b455;
font-family: var(--pixel-font);
}
.home__name{
  font-size: var(--fs-h1);
  line-height: 1.14em;
  margin: 0.9em 0 0.23em;
}
.home__work {
  margin-bottom: 2.5em;
}

.home__list dt{
  float: left;
  font-weight: var(--bold);
  opacity: 0.4;
}

.home__list dd {
  padding-left: 6.25em;
}

.home__list dd:not(:last-child) {
  margin-bottom: 0.94em;
}

.home__socials{
  margin: 1.25rem 0 2.2rem;
}

.home__social-link {
  font-size: 1.7rem;
  line-height: 1.36em;
  margin-right: 0.25rem;
  opacity: 0.4;
  transition: 0.3s;
}
.home__social-link:hover{
  opacity: 1;
}
/*=============== Hello ===============*/
.hello_details {
  margin-bottom: 1.67em;
  text-align: justify;
}

/*=============== Buttons ===============*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff
  padding 1.1em 2.1em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  color: #22b455;
  font-family: var(--pixel-font);
  transition: 0.3s;
}
.button:hover{
  background-color: var(--primary-color-alt);
}

.button--flex{
  display: inline-flex;
  align-items: flex-start;
  column-gap: 0.3rem;
}

/*=============== Services ===============*/
.section__container {
  grid-template-columns: repeat(3,1fr);
  gap: 1.875rem;
  font-family: var(--pixel-font);
}

.services__item {
  border: 1px solid var(--bg-color);
  padding: 2.5rem 1.25rem 1.875rem;
  text-align: center;
  font-family: var(--pixel-font);
}

.icon__box {
  border: 1px solid var(--border-color);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  position: relative;
  display: flex;
}



.services__dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: service-dot 2s linear infinite;
  animation-play-state: paused;
}

.services__item:hover .services__dot{
  animation-play-state: running;
}

@keyframes service-dot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.dot{
  width: 13px;
  height: 13px;
  background-color: #22b455;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0.9rem;
}

.section__tittle{
  font-family: var(--pixel-font);
  margin-bottom:  0.8em;
 
}


/*=============== Resume ===============*/

/*=============== Skills ===============*/

.skills__container {
  grid-template-columns: repeat(2,445px);
  column-gap: 7rem;
  margin-right: 20px;
}


.skills__list {
  row-gap: 1.8rem;
  font-family: var(--pixel-font);
}

.skills__title { 
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  font-family: var(--pixel-font);
}

/*=============== Projects ===============*/
.proyect__categories {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 1.875rem;
}

.category__btn {
  color: var(--text-color);
  font-weight: var(--bold);
  position: relative;
}

.category__btn:hover {
  color: var(--primary-color);
}

.category__btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -0.5rem;
  width: 7px;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: 0.3s;
}

.category__btn:hover::after {
  opacity: 1;
}

.active-work {
  color: var(--primary-color);
}

.active-work::after {
  opacity: 1;
}

.proyects__container{
  row-gap: 2.5rem;
  font-family: var(--pixel-font);
}
.proyect__item {
  grid-template-columns: 5fr 7fr;
}

.proyect__data {
padding: 3rem 3rem 2.5rem 1.875rem;
}

.proyect__title {
  margin-bottom: 0.8em;
  text-align: justify;
}

.proyect__description {
  margin-bottom: 2.5em;
  text-align: justify;
}


/*=============== Testimonials ===============*/

/*=============== Blog ===============*/

/*=============== Contact ===============*/
.contact {
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.contact::before {
  content: '';
  background: var(--linear-gradient);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.contact__content {
  z-index: 10;
  position: relative;
}

.contact__conteiner {
  grid-template-columns: 4fr 5fr 3fr;
  column-gap: 1.875rem;
  padding-top: 1.25rem;
}

.contact .section__title,
.contact__list,
.contact_social-link,
::placeholder,
.contact__input
.contact__form-title,
.footer__copy{
  color: #22b455;
  font-family: var(--pixel-font);
}


.contact__list{
  margin-bottom: 3.25rem;
}

.contact__list dt {
  float: left;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.contact__list dd {
  padding-left: 6.25rem;
  margin-bottom: 0.94em;
}

.contact__socials li {
  margin-bottom: 0.75rem
}

.contact__form {
  position: relative;
  font-family: var(--pixel-font);
}

.contact__form-title{
  margin-bottom: 1.25em;
}

.contact__input-div {
  margin-bottom: 0.94em;
}

.contact__input {
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 0.625rem;
}

.textarea {
  height: 7.2;
  resize: none;
}

.contact__input:focus {
  box-shadow: inset 0 0 5px; color: black;
}

.contact_message { 
  font-family: var(--pixel-font);
}

.color-light {
  opacity: 0;
}

.color-dark {
  opacity: 0.4;
}

.contact__button {
  margin-top: 1.875rem;
  width: 100%;
  box-shadow: 0 1px 29px rgb(0, 0, 40%);
}
/*=============== Blog Details ===============*/

/*=============== Style Switcher ===============*/

/*=============== BreakPoints ===============*/
/* for large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* for medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* for small devices */
@media screen and (max-width: 350px) {
}
